In [52]:
#import dependencies
import os
import csv
import pandas as pd

In [53]:
# File to Load
file_to_load = "Resources/dog_breed_characteristics.csv"
# Read Purchasing File and store into Pandas data frame
dog_characteristics = pd.read_csv(file_to_load, encoding="utf-8")
dog_characteristics

,BreedName,AltBreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,MalaysiaGuardedDog,MalaysiaProhibitedDog,MalaysiaPopularity,PopularityUS2017
0,Affenpinscher,NaN,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,NaN,NaN,NaN,147.0
1,Afghan Hound,NaN,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,NaN,NaN,NaN,93.0
2,African Hunting Dog,NaN,NaN,NaN,23.0,Wild,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Airedale Terrier,Airedale,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,NaN,NaN,NaN,55.0
4,Akbash,NaN,Working,Guardian,53.0,"Affectionate, Alert, Courageous, Independent, ...",600.0,NaN,5.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Wirehaired Terrier,NaN,Terrier,Terrier,7.0,"Alert, Bold, Fearless, Friendly, Keen, Quick, ...",900.0,51.0,3.0,NaN,NaN,NaN,99.0
246,Xoloitzcuintle/Mexican Hairless,Mexican Hairless,Non Sporting,Sight,11.0,"Aleret, Calm, Cheerful, Companionable, Loyal, ...",700.0,NaN,3.0,NaN,NaN,NaN,143.0
247,Yellow Labrador Retriever,NaN,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,NaN,NaN,NaN,1.0
248,Yorkshire Terrier Yorkie,Yorkshire Terrier,Toy,Companion,3.0,"Alert, Courageous, Energetic, Independent, Int...",800.0,27.0,3.0,NaN,NaN,NaN,9.0
249,Mixed Breed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
 # Remove unecessary columns from the DataFrame and save the new DataFrame
    # Only keep: "BreedName", "Group1", "Temperment", "AvgPupPrice", "PopularityUS2017"

dogs_cleaned_df = dogs_df[["BreedName", "Group1", "Temperment", "AvgPupPrice",
                       "PopularityUS2017"]]

dogs_cleaned_df.head()

,BreedName,Group1,Temperment,AvgPupPrice,PopularityUS2017
0,Affenpinscher,Toy,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,147.0
1,Afghan Hound,Sporting,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,93.0
2,African Hunting Dog,NaN,Wild,NaN,NaN
3,Airedale Terrier,Terrier,"Alert, Confident, Courageous, Friendly, Intell...",700.0,55.0
4,Akbash,Working,"Affectionate, Alert, Courageous, Independent, ...",600.0,NaN

In [55]:
# Push the remade DataFrame to a new CSV file
dogs_cleaned_df.to_csv("Output/dog_breed_characteristics_clean.csv",
                  encoding="utf-8", index=False, header=True)